.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
    transition: all 0.3s ease-out;
}

/* .Modal:hover {
    animation: bounceModal 0.6s ease-out forwards;
} */

.ModalOpen {
    animation: openModal 0.5s ease-out forwards;
    /* opacity: 1;
    transform: translateY(0); */
}

.ModalClosed {
    /* opacity: 0;
    transform: translateY(-100%); */
    animation: closeModal 0.5s ease-out forwards;
}

/* Plays for only 1 frame, good for use when intializing
/* .fade-slide-enter {
    
} */

.fade-slide-enter-active {
    animation: openModal 0.5s ease-out forwards;
}

/* .fade-slide-exit {
    
} */

.fade-slide-exit-active {
    animation: closeModal 0.5s ease-out forwards;
}

@keyframes bounceModal {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(15%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-45%);
    }
    100% {
        transform: translateY(-25%);
    }
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    25% {
        opacity: 0.25;
        transform: translateY(-75%) rotate(90deg);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50%) rotate(180deg);
    }
    75% {
        opacity: 0.75;
        transform: translateY(-25%) rotate(270deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(360deg);
    }
}
@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(360deg);
    }
    25% {
        opacity: 0.75;
        transform: translateY(-25%) rotate(270deg);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50%) rotate(180deg);
    }
    75% {
        opacity: 0.25;
        transform: translateY(-75%) rotate(90deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%) rotate(0deg);
    }
}
